.App {
  margin: 0 auto;
  flex-direction: column;
  width: inherit;
  height: inherit;
  background: #c7d6d5;
  width: 100%;
}

body {
  background: #c7d6d5;
}

.component {
  border-radius: 50px;
  background: #c7d6d5;
  box-shadow: 20px 20px 60px #a9b6b5, -20px -20px 60px #e5f6f5;
  margin-bottom: 5%;
  padding: 2%;
  height: fit-content;
}

svg {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 768px) {
  .App {
    width: 80%;
  }
}

@media only screen and (min-width: 1440px) {
  .App {
    width: 70%;
  }

  .main {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .left {
    width: 50%;
    margin: 2%;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    margin: 2%;
    margin-top: 2%;
  }

}
