.nationalHeader {
  display: flex;
  align-self: center;
  flex-direction: column;
  max-height: fit-content;
  box-shadow: inset 20px 20px 60px #a9b6b5;
}

.nationalHeader h1 {
    margin: 0;
}

span {
    color: #c20114;
    justify-content: center;
}

.totalCases, .totalMortality {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
    border-radius: 50px;
    margin: 1%;
    background: rgb(235, 227, 227);
    padding: 5%;
    margin-bottom: 2%;
}

@media only screen and (max-width: 768px) {
  .nationalHeader h1 {
    font-size: 1em;
  }
}